<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" th:with="title='校招网',active='home'"
      xmlns="http://www.w3.org/1999/html">
<head>
      <meta charset="utf-8">
      <meta name="renderer" content="webkit">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <title>公司详细信息</title>
      <link rel="stylesheet" type="text/css" href="http://localhost:8894/company-consumer/templates/css/bootstrap.min.css">
      <link rel="stylesheet" type="text/css" href="http://localhost:8894/company-consumer/templates/css/style.css">
      <link rel="stylesheet" type="text/css" href="http://localhost:8894/company-consumer/templates/css/font-awesome.min.css">
      <link rel="apple-touch-icon-precomposed" href="http://localhost:8894/company-consumer/templates/images/icon/icon.png">
      <link rel="shortcut icon" href="http://localhost:8894/company-consumer/templates/images/icon/favicon.ico">

      <style>
        .col-md-5{
          margin-left: 200px;
          width: 800px;
        }
      </style>
</head>

<body class="user-select">


<section class="container-fluid">
  <!-- 头部 -->
  <header>
    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false"> <span class="sr-only">切换导航</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
          <a class="navbar-brand" href="/">校招网 - 后台管理</a> </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav navbar-right">
            <li><a><em th:text="${session.uName}"></em>&nbsp;&nbsp;&nbsp;欢迎登录！</a></li>
            <li>
              <a href="http://localhost:7004/user/toLogin" onClick="if(!confirm('是否确认退出？'))return false;">退出登录</a></li>
          </ul>
          <form action="/company/findPositionLikepNameAndbId" method="get" class="navbar-form navbar-right" role="search">
            <div class="input-group">
              <input type="text" class="form-control" placeholder="通过关键字搜索" maxlength="15" name="pName">
              <span class="input-group-btn">
              <button class="btn btn-default" type="submit">搜索</button>
              </span> </div>
          </form>
        </div>
      </div>
    </nav>
  </header>
  <div class="row">
    <!-- 左边菜单栏 -->
    <aside class="col-sm-3 col-md-2 col-lg-2 sidebar">
      <ul class="nav nav-sidebar">
        <li class="active"><a th:href="@{'/company/findPositionBycId?cId='+${session.cId}}">职位信息</a></li>
      </ul>
      <ul class="nav nav-sidebar">
        <li><a th:href="@{'/company/toCompanyInfo?cId='+${session.cId}}">公司信息</a></li>
        <li><a class="dropdown-toggle" id="otherMenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">其他</a></li>
      </ul>
    </aside>

    <!-- 内容盒子  -->
    <div class="col-sm-9 col-sm-offset-3 col-md-10 col-lg-10 col-md-offset-2 main" id="main">
      <div class="row">
        <div class="col-md-5">
          <h1 class="page-header">公司详细信息</h1>
          <form action="/company/updateCompanyInfoBycId" method="get" autocomplete="off">

            <input type="hidden" name="cId" >

            <div class="form-group">
              <label for="category-name">公司名称</label>
              <input type="text" th:value="${company.cName}" id="category-name" name="cName" class="form-control" placeholder="在此处输入公司名称" required autocomplete="off">
              <span class="prompt-text">不允许修改公司名称</span>
            </div>

            <div class="form-group">
              <label for="category-alias">现任董事长</label>
              <input type="text" th:value="${company.chairman}" id="category-alias" name="chairman" class="form-control" placeholder="在此处输入董事长姓名" required autocomplete="off">
              <span class="prompt-text">必填项，您也可以同时填写中、英文名称</span>
            </div>

            <div class="form-group">
              <label for="category-alias">所属行业</label>
              <input type="text" th:value="${company.industry}" id="category-alias" name="industry" class="form-control" placeholder="在此处输入行业类别" required autocomplete="off">
              <span class="prompt-text">必填项，可填写多项</span>
            </div>

            <div class="form-group">
              <label for="category-alias">公司人数</label>
              <input type="text" th:value="${company.cNum}" id="category-alias" name="cNum" class="form-control" placeholder="在此处输入当前公司人数" required autocomplete="off">
              <span class="prompt-text">必填项，填写公司当前在职人数</span>
            </div>

            <div class="form-group">
              <label for="category-alias">注册资金</label>
              <input type="text" th:value="${company.capital}" id="category-alias" name="capital" class="form-control" placeholder="在此处输入公司注册资金"  autocomplete="off">
              <span class="prompt-text">非必填项，请尽量以 ”万元“ 结尾</span>
            </div>

            <div class="form-group">
              <label for="category-keywords">专利数量</label>
              <input type="text" th:value="${company.patents}" id="category-keywords" name="patents" class="form-control" placeholder="在此处输入公司获得的专利数量" autocomplete="off">
              <span class="prompt-text">非必填项</span>
            </div>

            <div class="form-group">
              <label for="category-keywords">公司地址</label>
              <input type="text" th:value="${company.cAddress}" id="category-keywords" name="cAddress" class="form-control" placeholder="在此处输入公司地址" required autocomplete="off">
              <span class="prompt-text">必填项，字数少于100字</span>
            </div>

            <div class="form-group">
              <label for="category-keywords">公司联系电话</label>
              <input type="text" th:value="${company.cPhone}" id="category-keywords" name="cPhone" class="form-control" placeholder="在此处输入公司联系电话" required autocomplete="off">
              <span class="prompt-text">必填项，如果是座机，请加上区号</span>
            </div>
            <div class="form-group">
              <label for="category-keywords">公司官博</label>
              <input type="text" th:value="${company.cBlog}" id="category-keywords" name="cBlog" class="form-control" placeholder="在此处输入公司官博名称" autocomplete="off">
              <span class="prompt-text">非必填项，请注明软件/例如：@校招网（新浪微博）</span>
            </div>

            <div class="form-group">
              <label for="category-keywords">公司邮箱</label>
              <input type="text" th:value="${company.cMail}" id="category-keywords" name="cMail" class="form-control" placeholder="在此处输入公司邮箱" required autocomplete="off">
              <span class="prompt-text">必填项，请输入接收简历的邮箱</span>
            </div>

            <div class="form-group">
              <label for="category-describe">公司描述</label>
              <textarea class="form-control" th:utext="${company.cInfo}" id="category-describe" name="cInfo" rows="4" required autocomplete="off"></textarea>
              <span class="prompt-text">必填项，字数少于500字</span>
            </div>
            <button class="btn btn-primary" type="submit">更新信息</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>

</body>
</html>
