<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns:th="http://www.thymeleaf.org" th:with="title='校招网',active='home'"
      xmlns="http://www.w3.org/1999/html">
 <head> 
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" /> 
  <meta http-equiv="X-UA-Compatible" content="IE=edge" /> 
  <title>注册</title>
  <link href="http://localhost:8894/user-consumer/templates1/css/common.css" rel="stylesheet" type="text/css" />
  <link href="http://localhost:8894/user-consumer/templates1/css/templateform.css" rel="stylesheet" type="text/css" />
  <link href="http://localhost:8894/user-consumer/templates1/css/controls.css" rel="stylesheet" type="text/css" />
  <link href="http://localhost:8894/user-consumer/templates1/css/default.css" rel="stylesheet" type="text/css" />
  <link href="http://localhost:8894/user-consumer/templates1/css/school-select-v2.css" rel="stylesheet" type="text/css" />
  <link href="http://localhost:8894/user-consumer/templates1/css/main.css" rel="stylesheet" type="text/css" />
  <link href="http://localhost:8894/user-consumer/templates1/css/front.css" rel="stylesheet" type="text/css" />

  <style>
   input[type=submit]{
    width:78.8px;
    height: 32px;
    margin-top: 6px;
    font-size: 13px;
    background-color: forestgreen;
    border-radius: 2px;
    border:none;
   }
  </style>
 </head> 
 <body> 

    <div class="dl_content"> 
     <div class="map"> 
      <div class="dl_lit-wrap dl_padr30 width553 clearfix"> 
       <form id="registForm" method="get" action="/user/register">
        <input type="hidden" id="returnurl" name="returnurl" value="" /> 
        <div class="dl_loginleft dl_padr0"> 
         <h3 class="dl_tit_green">注册</h3> 
         <ul class="dl_error_wrap15">

          <li class="clearfix">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
           <font color="red"><em th:text="${session.msg}"></em></font><br/>
           <span class="dl_form_left">用户名</span> <span class="dl_form_right"> <input type="text" class="dl_textinp" name="uName" /> <span class="field-validation-valid bs_pop_alert " data-valmsg-for="Password" data-valmsg-replace="true"></span> </span> </li>
          <li class="clearfix"> <span class="dl_form_left">登录邮箱</span> <span class="dl_form_right"> <input type="text" class="dl_textinp" name="uMail" /> <span class="field-validation-valid bs_pop_alert " data-valmsg-for="Password" data-valmsg-replace="true"></span> </span> </li>
          <li><span>&nbsp;&nbsp;&nbsp;登录身份</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
           <input type="radio" value="个人" name="uType"/>&nbsp;<font style="font-size: 13px;">个人</font>
           <input type="radio" value="公司" name="uType"/>&nbsp;<font style="font-size: 13px;">公司</font>
          </li>
          <li class="clearfix"> <span class="dl_form_left">登录密码</span> <span class="dl_form_right"> <input type="password" class="dl_textinp" name="uPassword" id="Password" info="密码长度6-30，允许英文、数字、特殊字符，区分大小写" data-val-length="您输入的邮箱长度超过30位" data-val-length-max="30" data-val-regex-pattern="^[0-9a-zA-Z`=\[\];,\./~!@#\$%\^&amp;\*\(\)_\+|\{\}:\?]{6,30}$" data-val-regex="您输入的密码不符合规范" data-val="true" data-val-required="必填" /> <span class="field-validation-valid bs_pop_alert " data-valmsg-for="Password" data-valmsg-replace="true"></span> </span> </li></ul>
         <span class="tishi" style="display:none">请输入正确的用户名和密码</span> 
         <input id="proId" type="hidden" newid="False" /> 
         <div class="next"> 
          <div class="dl_padl40">
           <input type="submit" value="注册" style="color: white"/>
          </div> 
         </div> 
        </div> 
       </form> 
       <div class="dl_loginright width170"> 
        <div class="dl_register">
         <span class="noaccount">已有账号？</span>
         <a href="/user/toLogin">点击登录</a>
        </div> 
        <h3 class="dl_otherchoice">使用其他账号登录：</h3> 
        <div class="dl_logos"> 
         <a class="dl_sinalogo dl_grey1 sina" href="javascript:void(0)" url="/User/OAuth/OAuthIndex?snstype=sina_connect_v2&amp;returnurl=http%3a%2f%2f51talk.zhiye.com%2fPortal%2fAccount%2fRegister&amp;host=51talk.zhiye.com&amp;portalid=104003">微博</a> 
         <a class="dl_qqlogo dl_grey1 qq" href="javascript:void(0)" url="/User/OAuth/OAuthIndex?snstype=qzone_login&amp;returnurl=http%3a%2f%2f51talk.zhiye.com%2fPortal%2fAccount%2fRegister&amp;host=51talk.zhiye.com&amp;portalid=104003">QQ</a> 
        </div> 
       </div> 
      </div> 
     </div> 
    </div>
   </div>
    <!--底部-->
    <div class="dl_footer">
     <span>&copy;2022&nbsp;&nbsp;校招网&nbsp;&nbsp;京ICP备999号 京公网安备666号 &nbsp;Powered by&nbsp;&nbsp;&nbsp;<a style="color: darkslategray">SiHao Li</a></span>
    </div>
  </div>  

 </body>
</html>